In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('traindata.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [37]:
df1 = pd.read_csv('testData.csv')
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [38]:
## Counting the missing values in train dataset

df.isna()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,True,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,True,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,False,False,False,False,False,False,False,False,False,False,False,False,False
585,False,False,False,False,False,False,False,False,False,False,False,False,False
586,False,False,False,False,False,False,False,False,False,False,False,False,False
587,False,False,False,False,False,False,False,False,False,False,False,False,False
588,False,True,False,False,False,False,False,False,False,False,False,False,False
589,False,False,False,False,False,False,False,False,False,False,False,False,False
590,False,False,False,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,False,False,False,False,False,False,False,False
592,False,True,False,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,False,False,False,False,False,False,False,False
594,False,False,False,False,False,False,False,False,False,False,False,False,False
595,False,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,True,False,False,False,False,False,False,False,False,False
598,False,False,False,False,False,False,False,False,False,False,False,False,False
599,False,False,False,False,False,False,False,False,False,False,False,False,False
600,False,False,False,False,False,True,False,False,False,False,True,False,False
601,False,False,False,False,False,True,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,True,False,False,False,False
606,False,False,False,False,False,False,False,False,False,False,False,False,False
607,False,False,False,False,False,False,False,False,False,False,False,False,False
608,False,False,False,False,False,False,False,False,False,False,False,False,False
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [39]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [40]:
## Joining the datasets

df2 = df.append(df1)
df2

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No
351,2283,15000.0,NaN,0,Graduate,Male,106.0,360.0,LP002901,NaN,No,Rural,No
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No
358,3132,0.0,NaN,2,Not Graduate,Male,76.0,360.0,LP002954,NaN,Yes,Rural,No
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No
360,8550,4255.0,NaN,0,Graduate,Female,96.0,360.0,LP002965,NaN,Yes,Urban,No
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [49]:
## Converting into numeric form depending on the column


df2['Gender'] = df2['Gender'].replace({'Male':'0','Female':'1'})
df2['Dependents'] = df2['Dependents'].replace({'3+':'3'})
df2['Married'] = df2['Married'].replace({'Yes':'1','No':'0'})
df2['Education'] = df2['Education'].replace({'Graduate':'1','Not Graduate':'0'})
df2['Self_Employed'] = df2['Self_Employed'].replace({'Yes':'1','No':'0'})
df2['Property_Area'] = df2['Property_Area'].replace({'Urban':'1','Rural':'0','Semiurban':'2'})
df2

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,1,0,NaN,360.0,LP001002,Y,0,1,0
1,4583,1508.0,1.0,1,1,0,128.0,360.0,LP001003,N,1,0,0
2,3000,0.0,1.0,0,1,0,66.0,360.0,LP001005,Y,1,1,1
3,2583,2358.0,1.0,0,0,0,120.0,360.0,LP001006,Y,1,1,0
4,6000,0.0,1.0,0,1,0,141.0,360.0,LP001008,Y,0,1,0
5,5417,4196.0,1.0,2,1,0,267.0,360.0,LP001011,Y,1,1,1
6,2333,1516.0,1.0,0,0,0,95.0,360.0,LP001013,Y,1,1,0
7,3036,2504.0,0.0,3,1,0,158.0,360.0,LP001014,N,1,2,0
8,4006,1526.0,1.0,2,1,0,168.0,360.0,LP001018,Y,1,1,0
9,12841,10968.0,1.0,1,1,0,349.0,360.0,LP001020,N,1,2,0
10,3200,700.0,1.0,2,1,0,70.0,360.0,LP001024,Y,1,1,0
11,2500,1840.0,1.0,2,1,0,109.0,360.0,LP001027,Y,1,1,NaN
12,3073,8106.0,1.0,2,1,0,200.0,360.0,LP001028,Y,1,1,0
13,1853,2840.0,1.0,0,1,0,114.0,360.0,LP001029,N,0,0,0
14,1299,1086.0,1.0,2,1,0,17.0,120.0,LP001030,Y,1,1,0
15,4950,0.0,1.0,0,1,0,125.0,360.0,LP001032,Y,0,1,0
16,3596,0.0,NaN,1,0,0,100.0,240.0,LP001034,Y,0,1,0
17,3510,0.0,0.0,0,1,1,76.0,360.0,LP001036,N,0,1,0
18,4887,0.0,1.0,0,0,0,133.0,360.0,LP001038,N,1,0,0
19,2600,3500.0,1.0,0,1,0,115.0,NaN,LP001041,Y,1,1,NaN
20,7660,0.0,0.0,0,0,0,104.0,360.0,LP001043,N,1,1,0
21,5955,5625.0,1.0,1,1,0,315.0,360.0,LP001046,Y,1,1,0
22,2600,1911.0,0.0,0,0,0,116.0,360.0,LP001047,N,1,2,0
23,3365,1917.0,0.0,2,0,NaN,112.0,360.0,LP001050,N,1,0,0
24,3717,2925.0,NaN,1,1,0,151.0,360.0,LP001052,N,1,2,NaN
25,9560,0.0,1.0,0,1,0,191.0,360.0,LP001066,Y,1,2,1
26,2799,2253.0,1.0,0,1,0,122.0,360.0,LP001068,Y,1,2,0
27,4226,1040.0,1.0,2,0,0,110.0,360.0,LP001073,Y,1,1,0
28,1442,0.0,1.0,0,0,0,35.0,360.0,LP001086,N,0,1,0
29,3750,2083.0,1.0,2,1,1,120.0,360.0,LP001087,Y,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,1,0,119.0,360.0,LP002856,NaN,1,1,0
338,2360,3355.0,1.0,1,1,0,87.0,240.0,LP002857,NaN,1,0,1
339,4333,2333.0,0.0,0,1,1,162.0,360.0,LP002858,NaN,0,0,0
340,2623,4831.0,1.0,0,1,0,122.0,180.0,LP002860,NaN,1,2,1
341,3972,4275.0,1.0,0,1,0,187.0,360.0,LP002867,NaN,0,0,1
342,3522,0.0,1.0,3,0,0,81.0,180.0,LP002869,NaN,1,0,0
343,4700,0.0,1.0,1,1,0,80.0,360.0,LP002870,NaN,1,1,0
344,6858,0.0,1.0,0,1,0,176.0,360.0,LP002876,NaN,0,0,0
345,8334,0.0,1.0,3,1,0,260.0,360.0,LP002878,NaN,1,1,0
346,3391,1966.0,0.0,0,1,0,133.0,360.0,LP002879,NaN,1,0,0
347,2868,0.0,1.0,0,0,0,70.0,360.0,LP002885,NaN,0,1,0
348,3418,1380.0,1.0,2,0,0,135.0,360.0,LP002890,NaN,1,1,0
349,2500,296.0,1.0,0,1,0,137.0,300.0,LP002891,NaN,1,0,1
350,8667,0.0,1.0,2,1,0,254.0,360.0,LP002899,NaN,1,0,0
351,2283,15000.0,NaN,0,1,0,106.0,360.0,LP002901,NaN,0,0,0
352,5817,910.0,1.0,0,1,0,109.0,360.0,LP002907,NaN,1,1,0
353,5119,3769.0,1.0,0,1,0,120.0,360.0,LP002920,NaN,1,0,0
354,5316,187.0,0.0,3,0,0,158.0,180.0,LP002921,NaN,1,2,0
355,7603,1213.0,1.0,3,1,0,197.0,360.0,LP002932,NaN,1,1,0
356,3791,1936.0,1.0,1,1,0,85.0,360.0,LP002935,NaN,1,1,0
357,2500,0.0,1.0,0,1,0,60.0,360.0,LP002952,NaN,0,1,0
358,3132,0.0,NaN,2,0,0,76.0,360.0,LP002954,NaN,1,0,0
359,4000,2667.0,1.0,0,1,0,152.0,360.0,LP002962,NaN,0,2,0
360,8550,4255.0,NaN,0,1,1,96.0,360.0,LP002965,NaN,1,1,0
361,2269,2167.0,1.0,1,1,0,99.0,360.0,LP002969,NaN,1,2,0
362,4009,1777.0,1.0,3,0,0,113.0,360.0,LP002971,NaN,1,1,1
363,4158,709.0,1.0,0,1,0,115.0,360.0,LP002975,NaN,1,1,0
364,3250,1993.0,NaN,0,1,0,126.0,360.0,LP002980,NaN,0,2,0
365,5000,2393.0,1.0,0,1,0,158.0,360.0,LP002986,NaN,1,0,0
366,9200,0.0,1.0,0,1,0,98.0,180.0,LP002989,NaN,0,0,1

In [42]:
## show the count for each column mentioned above after converting into numeric form

df2['Gender'].value_counts()

0    775
1    182
Name: Gender, dtype: int64

In [43]:
df2['Married'].value_counts()

1    631
0    347
Name: Married, dtype: int64

In [44]:
df2['Education'].value_counts()

1    763
0    218
Name: Education, dtype: int64

In [45]:
df2['Self_Employed'].value_counts()

0    807
1    119
Name: Self_Employed, dtype: int64

In [46]:
df2['Property_Area'].value_counts()

2    349
1    342
0    290
Name: Property_Area, dtype: int64

In [50]:
## filling the missing values

df2.apply(lambda x: np.where(x.isnull(), x.dropna().sample(len(x), replace=True), x))

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,1,0,124.0,360.0,LP001002,Y,0,1,0
1,4583,1508.0,1.0,1,1,0,128.0,360.0,LP001003,N,1,0,0
2,3000,0.0,1.0,0,1,0,66.0,360.0,LP001005,Y,1,1,1
3,2583,2358.0,1.0,0,0,0,120.0,360.0,LP001006,Y,1,1,0
4,6000,0.0,1.0,0,1,0,141.0,360.0,LP001008,Y,0,1,0
5,5417,4196.0,1.0,2,1,0,267.0,360.0,LP001011,Y,1,1,1
6,2333,1516.0,1.0,0,0,0,95.0,360.0,LP001013,Y,1,1,0
7,3036,2504.0,0.0,3,1,0,158.0,360.0,LP001014,N,1,2,0
8,4006,1526.0,1.0,2,1,0,168.0,360.0,LP001018,Y,1,1,0
9,12841,10968.0,1.0,1,1,0,349.0,360.0,LP001020,N,1,2,0
10,3200,700.0,1.0,2,1,0,70.0,360.0,LP001024,Y,1,1,0
11,2500,1840.0,1.0,2,1,0,109.0,360.0,LP001027,Y,1,1,1
12,3073,8106.0,1.0,2,1,0,200.0,360.0,LP001028,Y,1,1,0
13,1853,2840.0,1.0,0,1,0,114.0,360.0,LP001029,N,0,0,0
14,1299,1086.0,1.0,2,1,0,17.0,120.0,LP001030,Y,1,1,0
15,4950,0.0,1.0,0,1,0,125.0,360.0,LP001032,Y,0,1,0
16,3596,0.0,1.0,1,0,0,100.0,240.0,LP001034,Y,0,1,0
17,3510,0.0,0.0,0,1,1,76.0,360.0,LP001036,N,0,1,0
18,4887,0.0,1.0,0,0,0,133.0,360.0,LP001038,N,1,0,0
19,2600,3500.0,1.0,0,1,0,115.0,360.0,LP001041,Y,1,1,0
20,7660,0.0,0.0,0,0,0,104.0,360.0,LP001043,N,1,1,0
21,5955,5625.0,1.0,1,1,0,315.0,360.0,LP001046,Y,1,1,0
22,2600,1911.0,0.0,0,0,0,116.0,360.0,LP001047,N,1,2,0
23,3365,1917.0,0.0,2,0,0,112.0,360.0,LP001050,N,1,0,0
24,3717,2925.0,0.0,1,1,0,151.0,360.0,LP001052,N,1,2,0
25,9560,0.0,1.0,0,1,0,191.0,360.0,LP001066,Y,1,2,1
26,2799,2253.0,1.0,0,1,0,122.0,360.0,LP001068,Y,1,2,0
27,4226,1040.0,1.0,2,0,0,110.0,360.0,LP001073,Y,1,1,0
28,1442,0.0,1.0,0,0,0,35.0,360.0,LP001086,N,0,1,0
29,3750,2083.0,1.0,2,1,1,120.0,360.0,LP001087,Y,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,1,0,119.0,360.0,LP002856,Y,1,1,0
338,2360,3355.0,1.0,1,1,0,87.0,240.0,LP002857,N,1,0,1
339,4333,2333.0,0.0,0,1,1,162.0,360.0,LP002858,Y,0,0,0
340,2623,4831.0,1.0,0,1,0,122.0,180.0,LP002860,Y,1,2,1
341,3972,4275.0,1.0,0,1,0,187.0,360.0,LP002867,Y,0,0,1
342,3522,0.0,1.0,3,0,0,81.0,180.0,LP002869,Y,1,0,0
343,4700,0.0,1.0,1,1,0,80.0,360.0,LP002870,N,1,1,0
344,6858,0.0,1.0,0,1,0,176.0,360.0,LP002876,Y,0,0,0
345,8334,0.0,1.0,3,1,0,260.0,360.0,LP002878,N,1,1,0
346,3391,1966.0,0.0,0,1,0,133.0,360.0,LP002879,Y,1,0,0
347,2868,0.0,1.0,0,0,0,70.0,360.0,LP002885,Y,0,1,0
348,3418,1380.0,1.0,2,0,0,135.0,360.0,LP002890,Y,1,1,0
349,2500,296.0,1.0,0,1,0,137.0,300.0,LP002891,Y,1,0,1
350,8667,0.0,1.0,2,1,0,254.0,360.0,LP002899,Y,1,0,0
351,2283,15000.0,1.0,0,1,0,106.0,360.0,LP002901,Y,0,0,0
352,5817,910.0,1.0,0,1,0,109.0,360.0,LP002907,Y,1,1,0
353,5119,3769.0,1.0,0,1,0,120.0,360.0,LP002920,Y,1,0,0
354,5316,187.0,0.0,3,0,0,158.0,180.0,LP002921,Y,1,2,0
355,7603,1213.0,1.0,3,1,0,197.0,360.0,LP002932,Y,1,1,0
356,3791,1936.0,1.0,1,1,0,85.0,360.0,LP002935,N,1,1,0
357,2500,0.0,1.0,0,1,0,60.0,360.0,LP002952,N,0,1,0
358,3132,0.0,0.0,2,0,0,76.0,360.0,LP002954,Y,1,0,0
359,4000,2667.0,1.0,0,1,0,152.0,360.0,LP002962,N,0,2,0
360,8550,4255.0,1.0,0,1,1,96.0,360.0,LP002965,Y,1,1,0
361,2269,2167.0,1.0,1,1,0,99.0,360.0,LP002969,Y,1,2,0
362,4009,1777.0,1.0,3,0,0,113.0,360.0,LP002971,N,1,1,1
363,4158,709.0,1.0,0,1,0,115.0,360.0,LP002975,Y,1,1,0
364,3250,1993.0,1.0,0,1,0,126.0,360.0,LP002980,N,0,2,0
365,5000,2393.0,1.0,0,1,0,158.0,360.0,LP002986,N,1,0,0
366,9200,0.0,1.0,0,1,0,98.0,180.0,LP002989,Y,0,0,1

In [62]:
df2.dropna(inplace=True)
df2

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
1,4583,1508.0,1.0,1,1,0,128.0,360.0,LP001003,N,1,0,0
2,3000,0.0,1.0,0,1,0,66.0,360.0,LP001005,Y,1,1,1
3,2583,2358.0,1.0,0,0,0,120.0,360.0,LP001006,Y,1,1,0
4,6000,0.0,1.0,0,1,0,141.0,360.0,LP001008,Y,0,1,0
5,5417,4196.0,1.0,2,1,0,267.0,360.0,LP001011,Y,1,1,1
6,2333,1516.0,1.0,0,0,0,95.0,360.0,LP001013,Y,1,1,0
7,3036,2504.0,0.0,3,1,0,158.0,360.0,LP001014,N,1,2,0
8,4006,1526.0,1.0,2,1,0,168.0,360.0,LP001018,Y,1,1,0
9,12841,10968.0,1.0,1,1,0,349.0,360.0,LP001020,N,1,2,0
10,3200,700.0,1.0,2,1,0,70.0,360.0,LP001024,Y,1,1,0
12,3073,8106.0,1.0,2,1,0,200.0,360.0,LP001028,Y,1,1,0
13,1853,2840.0,1.0,0,1,0,114.0,360.0,LP001029,N,0,0,0
14,1299,1086.0,1.0,2,1,0,17.0,120.0,LP001030,Y,1,1,0
15,4950,0.0,1.0,0,1,0,125.0,360.0,LP001032,Y,0,1,0
17,3510,0.0,0.0,0,1,1,76.0,360.0,LP001036,N,0,1,0
18,4887,0.0,1.0,0,0,0,133.0,360.0,LP001038,N,1,0,0
20,7660,0.0,0.0,0,0,0,104.0,360.0,LP001043,N,1,1,0
21,5955,5625.0,1.0,1,1,0,315.0,360.0,LP001046,Y,1,1,0
22,2600,1911.0,0.0,0,0,0,116.0,360.0,LP001047,N,1,2,0
25,9560,0.0,1.0,0,1,0,191.0,360.0,LP001066,Y,1,2,1
26,2799,2253.0,1.0,0,1,0,122.0,360.0,LP001068,Y,1,2,0
27,4226,1040.0,1.0,2,0,0,110.0,360.0,LP001073,Y,1,1,0
28,1442,0.0,1.0,0,0,0,35.0,360.0,LP001086,N,0,1,0
31,3167,0.0,1.0,0,1,0,74.0,360.0,LP001095,N,0,1,0
32,4692,0.0,1.0,1,1,0,106.0,360.0,LP001097,N,0,0,1
33,3500,1667.0,1.0,0,1,0,114.0,360.0,LP001098,Y,1,2,0
34,12500,3000.0,1.0,3,1,0,320.0,360.0,LP001100,N,0,0,0
37,3667,1459.0,1.0,0,1,1,144.0,360.0,LP001112,Y,1,2,0
38,4166,7210.0,1.0,0,1,0,184.0,360.0,LP001114,Y,0,1,0
39,3748,1668.0,1.0,0,0,0,110.0,360.0,LP001116,Y,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,3159,461.0,1.0,2,1,0,108.0,84.0,LP002868,Y,1,1,0
577,3229,2739.0,1.0,0,1,0,110.0,360.0,LP002874,Y,0,1,0
578,1782,2232.0,1.0,1,1,0,107.0,360.0,LP002877,Y,1,0,0
580,6540,0.0,1.0,2,1,0,205.0,360.0,LP002892,Y,1,2,0
581,1836,33837.0,1.0,0,1,0,90.0,360.0,LP002893,N,0,1,0
582,3166,0.0,1.0,0,1,1,36.0,360.0,LP002894,Y,1,2,0
584,2787,1917.0,0.0,1,1,0,146.0,360.0,LP002911,N,1,0,0
585,4283,3000.0,1.0,1,1,0,172.0,84.0,LP002912,N,1,0,0
586,2297,1522.0,1.0,0,1,0,104.0,360.0,LP002916,Y,1,1,0
587,2165,0.0,1.0,0,0,1,70.0,360.0,LP002917,Y,0,2,0
589,2726,0.0,0.0,2,1,0,106.0,360.0,LP002926,N,1,2,1
590,3000,3416.0,1.0,0,1,0,56.0,180.0,LP002928,Y,1,2,0
591,6000,0.0,1.0,2,1,0,205.0,240.0,LP002931,N,1,2,1
593,3859,3300.0,1.0,0,1,0,142.0,180.0,LP002936,Y,1,0,0
594,16120,0.0,1.0,0,1,0,260.0,360.0,LP002938,Y,1,1,1
595,3833,0.0,1.0,0,0,0,110.0,360.0,LP002940,Y,0,0,0
596,6383,1000.0,1.0,2,0,0,187.0,360.0,LP002941,N,1,0,1
598,9963,0.0,1.0,0,1,0,180.0,360.0,LP002945,Y,1,0,1
599,5780,0.0,1.0,2,1,0,192.0,360.0,LP002948,Y,1,1,0
602,5703,0.0,1.0,3,1,0,128.0,360.0,LP002953,Y,1,1,0
603,3676,4301.0,1.0,0,1,0,172.0,360.0,LP002958,Y,0,0,0
604,12000,0.0,1.0,1,1,1,496.0,360.0,LP002959,Y,1,2,0
606,3400,2500.0,1.0,1,1,0,173.0,360.0,LP002961,Y,1,2,0
607,3987,1411.0,1.0,2,0,0,157.0,360.0,LP002964,Y,1,0,0
608,3232,1950.0,1.0,0,1,0,108.0,360.0,LP002974,Y,1,0,0
609,2900,0.0,1.0,0,1,1,71.0,360.0,LP002978,Y,0,0,0
610,4106,0.0,1.0,3,1,0,40.0,180.0,LP002979,Y,1,0,0
611,8072,240.0,1.0,1,1,0,253.0,360.0,LP002983,Y,1,1,0
612,7583,0.0,1.0,2,1,0,187.0,360.0,LP002984,Y,1,1,0
613,4583,0.0,0.0,0,1,1,133.0,360.0,LP002990,N,0,2,1

In [63]:
## Applying Logistic Regression

import pandas as pd

In [64]:
X = df2[['ApplicantIncome','CoapplicantIncome','Credit_History','Property_Area']]
X

     ApplicantIncome  CoapplicantIncome  Credit_History Property_Area
1               4583             1508.0             1.0             0
2               3000                0.0             1.0             1
3               2583             2358.0             1.0             1
4               6000                0.0             1.0             1
5               5417             4196.0             1.0             1
6               2333             1516.0             1.0             1
7               3036             2504.0             0.0             2
8               4006             1526.0             1.0             1
9              12841            10968.0             1.0             2
10              3200              700.0             1.0             1
12              3073             8106.0             1.0             1
13              1853             2840.0             1.0             0
14              1299             1086.0             1.0             1
15              4950                0.0             1.0             1
17              3510                0.0             0.0             1
18              4887                0.0             1.0             0
20              7660                0.0             0.0             1
21              5955             5625.0             1.0             1
22              2600             1911.0             0.0             2
25              9560                0.0             1.0             2
26              2799             2253.0             1.0             2
27              4226             1040.0             1.0             1
28              1442                0.0             1.0             1
31              3167                0.0             1.0             1
32              4692                0.0             1.0             0
33              3500             1667.0             1.0             2
34             12500             3000.0             1.0             0
37              3667             1459.0             1.0             2
38              4166             7210.0             1.0             1
39              3748             1668.0             1.0             2
..               ...                ...             ...           ...
575             3159              461.0             1.0             1
577             3229             2739.0             1.0             1
578             1782             2232.0             1.0             0
580             6540                0.0             1.0             2
581             1836            33837.0             1.0             1
582             3166                0.0             1.0             2
584             2787             1917.0             0.0             0
585             4283             3000.0             1.0             0
586             2297             1522.0             1.0             1
587             2165                0.0             1.0             2
589             2726                0.0             0.0             2
590             3000             3416.0             1.0             2
591             6000                0.0             1.0             2
593             3859             3300.0             1.0             0
594            16120                0.0             1.0             1
595             3833                0.0             1.0             0
596             6383             1000.0             1.0             0
598             9963                0.0             1.0             0
599             5780                0.0             1.0             1
602             5703                0.0             1.0             1
603             3676             4301.0             1.0             0
604            12000                0.0             1.0             2
606             3400             2500.0             1.0             2
607             3987             1411.0             1.0             0
608             3232             1950.0             1.0             0
609             2900                0.0             1.0             0
610             4106                0.0             1.0             0
611             8072              240.0             1.0             1
612             7583                0.0             1.0             1
613             4583                0.0             0.0             2

[480 rows x 4 columns]

In [65]:
y = df2[['Self_Employed']]
y

    Self_Employed
1               0
2               1
3               0
4               0
5               1
6               0
7               0
8               0
9               0
10              0
12              0
13              0
14              0
15              0
17              0
18              0
20              0
21              0
22              0
25              1
26              0
27              0
28              0
31              0
32              1
33              0
34              0
37              0
38              0
39              0
..            ...
575             0
577             0
578             0
580             0
581             0
582             0
584             0
585             0
586             0
587             0
589             1
590             0
591             1
593             0
594             1
595             0
596             1
598             1
599             0
602             0
603             0
604             0
606             0
607             0
608             0
609             0
610             0
611             0
612             0
613             1

[480 rows x 1 columns]

In [75]:
## Filling missing values

import random as rnd

df3 = df2.copy()
df3['LoanAmount'].fillna((df3['LoanAmount'].median()),inplace=True)
df3['Dependents'].fillna((df3['Dependents'].median()),inplace=True)
df3['Loan_Amount_Term'].fillna((df3['Loan_Amount_Term'].mean()),inplace=True)
df3.isna().sum()

ApplicantIncome      0
CoapplicantIncome    0
Credit_History       0
Dependents           0
Education            0
Gender               0
LoanAmount           0
Loan_Amount_Term     0
Loan_ID              0
Loan_Status          0
Married              0
Property_Area        0
Self_Employed        0
dtype: int64

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=1)

from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)
logmodel.predict([[3748,1668.0,1.0,2]])

C:\Users\igiat\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\igiat\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['0'], dtype=object)

In [70]:
print('Training score is',logmodel.score(X_train,y_train)*100)
print('Testing score is',logmodel.score(X_test,y_test)*100)

Training score is 86.30952380952381
Testing score is 85.41666666666666

In [74]:
## Calculating Accuracy score

from sklearn.metrics import accuracy_score

ypred = logmodel.predict(X_test)
accscore =accuracy_score(y_test,ypred)*100
print('Accuracy score is',accscore)

Accuracy score is 85.41666666666666